$primary-color: #e3350d;

.container {
  min-height: 100vh;
  padding: 0 1.5rem;
  display: flex;
  justify-content: center;
}

.main {
  padding: 3rem 0;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  color: $primary-color;
}

.pokemon {
  margin-top: 4rem;

  img {
    margin-right: 1.6rem;
    max-width: 100px;
    max-height: 100px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  ul li {
    display: flex;
    margin: 2rem 0;
  }
}
